extends layout

block page-wrapper
	#page-wrapper
		.row
			.col-lg-4
				h1.page-header Overview
			.col-lg-offset-8
				#datepicker.input-daterange.input-group
					input.input-sm.form-control(type='text', name='start', data-provide='datepicker')
					span.input-group-addon
						i.glyphicon.glyphicon-th 
					input.input-sm.form-control(type='text', name='end', data-provide='datepicker')
					span.input-group-addon
						i.glyphicon.glyphicon-th 
		.row
			.col-lg-3
				.panel.panel-primary
					.panel-heading.text-center Games Initiated
					.panel-body
						h1.text-center #{stats.sessions_initiated}
			.col-lg-3
				.panel.panel-primary
					.panel-heading.text-center Games Completed
					.panel-body
						h1.text-center #{stats.sessions_completed}
			.col-lg-3
				.panel.panel-primary
					.panel-heading.text-center Average Completion Time
					.panel-body
						h1.text-center #{stats.avg_completion_time} min
			.col-lg-3
				.panel.panel-primary
					.panel-heading.text-center Download Count
					.panel-body
						h1.text-center #{stats.download_count}